anthropic
beautifulsoup4
datasets
faiss-cpu
fastapi
httpx
ipython
ipywidgets
jinja2
matplotlib
notebook
numpy
openai
pandas
prometheus-client
python-dotenv
requests
scikit-learn
seaborn
structlog
torch
uvicorn
